<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">&copy; All rights reserved 2021</a>
      </div>
    </nav>

  </footer>